body {
    /* ein Kommentar */
    max-width: 1280px;
    margin: auto;
    font-family: Arial;
}

header {
    text-align: center;
}

header p {
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    margin-top: -2em;
}

.white,
.white a:link,
.white a:visited {
    color: white;
}

header nav img {
    border-radius: 50%;
}

a:link, a:visited {
    color: black;
}